.grid.spaced.align-middle: .grid-items

  .site-header-brand.col
    img(src="images/logo-coffeedesign-white.svg")

  nav.site-header-nav.col
    ul.nav
      .grid.spaced.inline.align-middle: .grid-items
        li.col: a.nav-link(href="#") About
        li.col: a.nav-link(href="#") Events
        li.col: a.nav-link(href="#") Brews