extends main.jade

block title
  | About

block content
  .event.-featured
    .event-header
      .event-header-image
        img(src='images/event-image.svg')
      .event-header-title It Takes Two
      .event-header-date 
        hr.-narrow
        h5 Friday, March 27th @ 8AM
        .h6 THINK BIG PARTNERS (2ND FLOOR)
        hr.-narrow
      .event-main As we’ve explored different processes throughout design across many disciplines, we’ve discovered interesting parallels that happen with designers all across the industry. This month, we want to focus on one of those specifically: the process of concept, design, and execution.
    .event-signup Sign Up

block footer
  p Copyright 2015 | Coffee & Design